body{
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
}
.main{
  width:80%;
  margin:20px auto;
  border:1px solid blue;
  padding:20px;
  background-color: rgb(141, 147, 228);
}
h2{
  margin-top:0px;
  color:#4b4a4a;
}
h3{
  color: #4b4a4a;
  font-style: normal;
}
.encabezado{
  background-color: blueviolet;
  color: #e1e1e1;
  padding:20px;
  margin-bottom: 20px;
  font-size: 30px;
  box-shadow: 0px 5px 10px black;
  display: flex;
  justify-content: space-between;
}
ul{
  list-style: none;
}
figure{
  width: 120px;
  height: 100px;
  margin: 0;
}
img{
  width: inherit;
  height: inherit;
}
ul{
  display: flex;
}
a{
  padding-right: 30px;
  color: #e1e1e1;
  text-decoration: none;
  font-style: normal;
  font-size: 20px;
}

footer{
	color: #e1e1e1;
	padding:10px;
	background-color:#393939;
	font-style:normal;
	box-shadow:0px 0px 10px yellow;
border-radius:10px;
	

}
footer_p{
}
